$color-primary:#079bff;
$color-gradient:#74c4f9;
$color-secondary:#f5f5f5;
$text-color:#333333;
$title-color:#1d1d1d;
$card-width:450px;
$card-height:450px;
$card-border-radius:20px;
$border-color-1:#fff;
$call-border-1: #1C766E;
$title-bg:#1C766E21;