main {
    margin: 100px 0 200px 0;
}

.presentation {
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    & span {
        background-color: $title-color;
        height: 3px;
        width: 40px;
    }
    & h1 {
        @media screen and (max-width: 480px) {
            font-size: 18px;
        }
    }
}