.particularite {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 5%;
    gap: 1rem;
    @media screen and (max-width: 480px) {
        flex-wrap: wrap;
    }
    &>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1rem;
    }
}

.container {
    display: flex;
    &__video {
        & .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5rem;
            & span {
                background-color: $text-color;
                height: 3px;
                width: 50px;
            }
        }
    }
}

.galery {
    margin: 150px 5%;
    & h2 {
        margin-left: 5px;
    }
    & .collection {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
        & :nth-child(7) {
            width: 99%;
            object-fit: cover;
        }
        & img {
            width: 33%;
            height: 350px;
            @media screen and (max-width: 480px) {
                width: 100%;
            }
        }
    }
}

.demo {
    margin: 5%;
    & #background-video {
        width: 90vw;
        height: 90vh;
        object-fit: cover;
    }
    & .stars {
        display: flex;
        margin: 10rem 0;
        &>div {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1rem;
            & img {
                width: 30px;
                height: 30px;
            }
        }
    }
}

.green-band {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f8f5;
    margin: 200px 200px 100px 200px;
    @media screen and (max-width: 480px) {
        margin: 0;
        flex-wrap: wrap;
    }
    border: 1px solid #4a8674;
    padding: 20px;
    & .left {
        display: flex;
        gap: 0.7rem;
        justify-content: center;
        align-items: center;
        color: #1d4136;
        & img {
            width: 30px;
            height: 30px;
        }
    }
    & .right {
        color: #4a8674;
        font-weight: 100;
    }
}